<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/Hibernate_Caching_Level-1?createDatabaseIfNotExist=true</property>
		<property name="connection.username">root</property>
		<property name="connection.password">DHIraj@2002</property>

		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>

		<!--Level-2 Caching -->
		<property name="hibernate.cache.level2cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>
	</session-factory>
</hibernate-configuration>